.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  &__title {
    font-size: 48px;
  }

  &__icons {
    margin: 0 -10px;
    & .fa-custom {
      color: $blue;
      cursor: pointer;
      font-size: 20px;
      margin: 0 10px;
      transition: color .5s ease, transform .35s ease;

      &:hover {
        color: lighten($color: $blue, $amount: 10%);
        transform: scale(1.3);
      }
    }
  }
}