.navbar {
  height: 50px;
  width: 100%;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__menu {
    display: flex;
    font-size: 18px;

    &--mobile {
     /* display: none; */
     position: absolute;
    }
  }

  &__header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    color: #4d4d4d;
    padding: 11px;
  }

  &__toggle {
    display: none;
    &-label {
      display: inline-block;
      cursor: pointer;
      width: 50px;
      height: 50px;
      padding: 13px;
      margin: 0;
    }

    &-icon { 
      display: none; 
      position: absolute;
      height: 50px;
      left: 0px;
      top: 18%;
    }
    
    /* TODO: Change animation to js */
    /* &:not(:checked) + .navbar__menu--horizontal { 
      left: 100%;
    }
    &:not(:checked) + .navbar__menu--vertical { 
      height: 0px;
   }
    &:checked + .navbar__menu--horizontal {
      left: 0;
      overflow-y: auto;
    }
    &:checked + .navbar__menu--vertical {
      height: 270px;
      overflow-y: auto;
    } */
  }

  
  &__span {
    display: block;
    position: absolute;
    width: 25px;
    border: 2px solid $blue;
    border-radius: 5px;
    background-color: $blue;
    
    transform-origin: center;
    @include transition();
    &.top { top: 18px; left: 13px; }
    &.middle { top: 23px; left: 13px; }
    &.bottom { top: 28px; left: 13px; }
  }

  &__link {
    font-weight: 800;
    text-transform: uppercase;
    padding: 11px 10px 12px 10px;
    letter-spacing: 3px;
    line-height: 16px;
    color: $blue;
    @include transition(color, .35s);
    &:hover { color: $dark-gray; }
  }
}

/* Animation */
.navbar__toggle-icon.active {
  .navbar__span.top { transform: translateY(3px) rotate(45deg); }
  .navbar__span.middle { opacity: 0; transform: opacity .35s ease; }
  .navbar__span.bottom { transform: translateY(-7px) rotate(-45deg); }
}

@media (max-width:600px) {
  .navbar__main {
    justify-content: center;
    align-items: center;
  }

  .navbar__header {
  }

  .navbar__toggle-icon { 
    display: block;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__menu--mobile {
    height: 0px;
  }
  /* .navbar__menu {
    position: absolute;
    display: block;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    min-height: 100px;
    width: 100%;
    height: 0px;
    transition: height .5s ease;
  } */

  .navbar__link {
    display: block;
    width: 100%;
  }
}